* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-links a {
	text-decoration:none;
	line-height: 1;
	color: #646F72; 
	
}
.nav-links a:after {
	display: block;
	content: "";
	height: 3px; 
	width: 0%; 
	background-color: black;
	text-decoration: none;	
	transition: width 0.4s ease-in-out;
}
.nav-links a:hover:after,
.nav-limks a:focus:after {
	width: 100%;
}
.cart {
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
}
.cta {
	padding: 50px 0px 0px 0px;
}
.cta-select {
	color:#00c6ff;
 	padding: 15px 20px;
 	text-transform: uppercase;
 	text-decoration:none;
 	background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#7d86c7);
 	background-position: 100% 0;
 	background-size: 200% 100%;
 	transition: all .25s ease-in;
 	font-size: 18px;
    font-weight: 400;
 	border: 1px solid #00C6FF;
}
.cta-select:hover {
	background-position: 0 0;
	color:#fff;
}
.cta-add {
	color:#00c6ff;
 	padding: 15px 20px;
 	text-transform: uppercase;
 	text-decoration:none;
 	background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#7d86c7);
 	background-position: 100% 0;
 	background-size: 200% 100%;
 	transition: all .25s ease-in;
	font-size: 18px;
    font-weight: 400;
 	border: 1px solid #00C6FF;
}
.cta-add:hover {
	background-position: 0 0;
	color:#fff;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}
.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.container{
	margin-top: 30px;
	position: relative;
}
.container img{
	width: 100%;
	height: auto;
	display: flex;
	
}
.text_background{
	position: absolute;
	top: 10%;
    justify-content: center;
    display: flex;
    width: 100%;
}
.bottom_text{
	position: absolute;
	bottom: 15%;
    justify-content: center;
    display: flex;
    width: 100%;
}
.bottom_text h1{
	font-size: 3em;
	color: #D1E9F0;
}
.text_background h1{
	font-size: 2em;
	color: #D1E9F0;
}
.footmenu {
  text-align: center;
  width: 100%;
  
}

ul.footmenu {
  background-color: #000000; 
  display: inline-block;
  padding: 4px 10px;
  /*overflow: hidden;*/
}
ul.footmenu li {
  display: inline-block;
}
ul.footmenu li a i.fa {
  
  display: inline-block;
  border: 1px solid transparent;
  color: #ccc;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  margin: 10px 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  z-index: 2;
}
ul.footmenu li a i.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -500%;
  bottom: -500%;
  left: -500%;
  right: -500%;
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}
ul.footmenu li a:hover i.fa::before {
  color: #fff;
}
ul.footmenu li a:hover i.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}
ul.footmenu li a:hover i.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #1dcaff;
  border-radius: 0px;
  opacity: 1;
}
ul.footmenu li a:hover i.fa-google-plus::after {
  height: 200%;
  width: 200%;
  background-color: #d34836;
  border-radius: 0px;
  opacity: 1;
}
ul.footmenu li a:hover i.fa-instagram::after {
  height: 200%;
  width: 200%;
  background-color: #8a3ab9;
  border-radius: 0px;
  opacity: 1;
}
@media screen and (max-width: 1024px) {
	.presentation {
		
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		
	}
}
@media screen and (max-width:980px) {
	.presentation {
		flex-direction: column;
		
	}
	.cover img{
		height: 90vh;
	}
	.laptop-select{
		position: static;
		align-items: center;
	}
	.text_background{
		top: 10px
	}
	.bottom_text{
		align-items: center;
		text-align: center;
    	bottom: 5%;
	}
	.bottom_text h1{
		font-size: 2em;
	}
	
	
}
@media screen and (max-width: 480px) {
	header{
		flex-direction: column;
	}
	.presentation{
		flex-direction: column;
		align-content: flex-end;
		margin-top: 60px;
	}
	.nav-links{
		flex-direction: column;
		margin: 3px;
	}
	
	.cta{
		flex-direction: column;
		align-items: center;
		display: flex;
	}
	.cta-select{
		margin: auto;
	}
	.cta-add{
		margin: 10px;
	}
	.cover img{
		height: 50vh;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		position: fixed;
	}
	.cart{
		margin: -5px;
	}
	.text_background{
		top: 10px
	}
	.bottom_text{
		bottom: 10%; 	
    	font-size: 0.5em;
    	text-align: center;
	}
	.bottom_text h1{
		font-size: 2em;
	}
	.text_background h1 {	
		font-size: 1.2em;
	}
	.container{
		width: 100%;
	}
}
