*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
body{
	/*position: absolute;
	height: 100%;*/
}
.location img{
	height: 5vh;
}
.left_head{
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	align-items: center;
}
.navbar{
	color: white;
}
.city{
	color: white;
}

ul.nav li{
	display: inline-block;
	padding-right: 5px;

}
a{
	text-decoration: none;
}
.nav a {
	text-decoration:none;
	line-height: 1; 
	color:white;
}
.nav a:after {
	display: block;
	content: "";
	height: 3px; 
	width: 0%; 
	background-color: white; 
	text-decoration: none;	
	transition: width 0.4s ease-in-out;
}
.nav a:hover:after,
.nav a:focus:after {
	width: 100%;
}

.navigation{
	position: relative;
	margin-left: 70px;
}

.location{
	display: flex;
	align-items: center;	
}
.right_head{
	
}
a.phonenum{
	padding: 10px;
	color: white;
}

section{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding: 10px;
	justify-content: space-evenly;
}

section img{
	height: 50vh;
	animation: drop 2.5s ease;
	filter: drop-shadow(0px 2px 2px black);
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.matebook{
	width: 45%;
	border-right: 1px solid black;	
}
.matepad{
	width: 45%;
}
.vision{
	width: 45%;
	border-right: 1px solid black;	
}
.watch{
	width: 45%;
}
.buy{
	border-radius: 10px;
	border: 1px solid #225F6B;
	font-size: 1.3em;
	background-color: white;
	color: #225F6B;
	margin: 10px;
	padding: 5px;
}
.buttons{
	display: flex;
    justify-content: center
}
.buttons :hover{
	background-color: #90A9AF;
	cursor: pointer;
}
.big-circle {
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 100%;
}
.medium-circle {
	position: absolute;
	top: 50%;
	right: 30%;
	z-index: -1;
	height: 80%;
	opacity: 0.4;
}
/* adaptive*/
@media screen and (max-width: 1024px) {
	

}
@media screen and (max-width:980px) {
	.header{
		
	}
	section{
		
	}
	.buttons{
		display: flex;
    	flex-direction: column;
    	width: 90%;
    	
		}
		section img{
			height: 35vh;
		}
		.timework{
			display: flex;
			align-items: center;
		}
		.buy{
			width: 100%;
		}
		.medium-circle,
	.big-circle {
		position: fixed;
	}
    }
@media screen and (max-width: 575px) {
section{
    flex-direction: column;
    
    
	}
section img{
			height: 30vh;
		}
.matebook{
	border-right: none;
	width: 100%;
}
.matepad{
	width: 100%;
}
.vision{
	border-right: none;
	width: 100%;
}
.watch{
	width: 100%;
}
.buttons{
	width: 70%;
    margin-left: 40px;
}
.left_head{
	flex-direction: column;


}
.navigation{
	margin-left: 5px;
}

.medium-circle,
	.big-circle {
		position: fixed;
	}
.location{
	flex-wrap: wrap;
    justify-content: center;
}
.right_head{
	flex-direction: column;

}
.timework{
	flex-direction: column;
}
a.phonenum{
	padding: 0;
}
}
	
