*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}
body{
	/*position: absolute;
	height: 100%;*/
}
.location img{
	height: 5vh;
}
.left_head{
	display: flex;
	justify-content: space-between;
	color: white;
	background-color: black;
	align-items: center;
}
.navbar{
	color: white;
}
.city{
	color: white;
}

ul.nav li{
	display: inline-block;
	padding-right: 5px;

}
a{
	text-decoration: none;
}
.nav a {
	text-decoration:none;
	line-height: 1; 
	color:white;
}
.nav a:after {
	display: block;
	content: "";
	height: 3px; 
	width: 0%; 
	background-color: white; 
	text-decoration: none;	
	transition: width 0.4s ease-in-out;
}
.nav a:hover:after,
.nav a:focus:after {
	width: 100%;
}

.navigation{
	position: relative;
	margin-left: 70px;
}

.location{
	display: flex;
	align-items: center;	
}
.right_head{
	
}
a.phonenum{
	padding: 10px;
	color: white;
}

section{
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding: 10px;
	justify-content: space-evenly;
}

section img{
	height: 50vh;
	animation: drop 2.5s ease;
	filter: drop-shadow(0px 2px 2px black);
}
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.matebook{
	width: 45%;
	border-right: 1px solid black;	
}
.matepad{
	width: 45%;
}
.vision{
	width: 45%;
	border-right: 1px solid black;	
}
.watch{
	width: 45%;
}
.buy{
	border-radius: 10px;
	border: 1px solid #225F6B;
	font-size: 1.3em;
	background-color: white;
	color: #225F6B;
	margin: 10px;
	padding: 5px;
}
.buttons{
	display: flex;
    justify-content: center
}
.buttons :hover{
	background-color: #90A9AF;
	cursor: pointer;
}
.big-circle {
	position: absolute;
	top: 30px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 100%;
}
.medium-circle {
	position: absolute;
	top: 50%;
	right: 30%;
	z-index: -1;
	height: 80%;
	opacity: 0.4;
}
.delivery{
	position: relative;
}
.delivery img{
	position: absolute;
	width: 100%;
}
.delivery_text{
    /* position: absolute; */
    position: absolute;
    z-index: 2;
    display: flex;
    /* width: 100%; */
    flex-direction: column;
    align-items: end;
    
    right: 100px;
}
.delivery_text h2{
	font-size: 5em;
	color: #2170a5;
}
.delivery_text p{
	font-size: 3em;
	color: #2170a5;
}
.delivery_buttons {
    display: flex;
    top: 20em;
    right: 6em;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.button_delivery {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.button_delivery:hover, .delivery_button:focus {
  color: #fff;
  outline: 0;
}
.button_delivery {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.button_delivery:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* adaptive*/
@media screen and (max-width: 1024px) {
	

}
@media screen and (max-width:980px) {
	.header{
		
	}
	section{
		
	}
	.buttons{
		display: flex;
    	flex-direction: column;
    	width: 90%;
    	
		}
		section img{
			height: 35vh;
		}
		.timework{
			display: flex;
			align-items: center;
		}
		.buy{
			width: 100%;
		}
		.medium-circle,
	.big-circle {
		position: fixed;
	}
	.delivery_buttons{
		right: 10px;
    	top: 11em;
	}
	.delivery_text{
		right: 150px;
    	align-items: center;
    	flex-direction: row;
    	top: 0px;	
    }
	.delivery_text h2 {
		font-size: 2em;
		padding: 5px;
    }
    .delivery_text p{
    	font-size: 2em;
    	padding: 5px;

    }
    .button_delivery{
    	font-size: 1.2em;
    }
}
@media screen and (max-width: 575px) {
section{
    flex-direction: column;
    
    
	}
section img{
			height: 30vh;
		}
.matebook{
	border-right: none;
	width: 100%;
}
.matepad{
	width: 100%;
}
.vision{
	border-right: none;
	width: 100%;
}
.watch{
	width: 100%;
}
.buttons{
	width: 70%;
    margin-left: 40px;
}
.left_head{
	flex-direction: column;


}
.navigation{
	margin-left: 5px;
}

.medium-circle,
	.big-circle {
		position: fixed;
	}
.location{
	flex-wrap: wrap;
    justify-content: center;
}
.right_head{
	flex-direction: column;

}
.timework{
	flex-direction: column;
}
a.phonenum{
	padding: 0;
}
.delivery_text {
    right: 40px;
    align-items: center;
    top: 0px;
   	flex-direction: column;
}
.delivery_text h2 {
    font-size: 1em;
}
.delivery_text p {
    font-size: 1em;
    font-weight: 600;
}
.delivery_buttons {
    right: 0px;
    top: 6em;
}
.button_delivery {
    padding: 0.4em 0.4em;
    margin: 10px;
    font-size: 0.8em;
}
}
	
